/* Myranda's modifications */
.sidenav{
	height: 100%;
	width: 160px;
	position: relative;

	top: 0;
	right: 0;
	background-color: black;
	overflow-x: hidden;
	padding-top: 10px;
	min-height: 500px;
}
.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 20px;
	color: #818181;
	display: block;
}
.sidenav a:hover{
	color: #f1f1f1;
}
.content-section {
  min-height: 1000px;
}
.sidebar-section {
  position: absolute;
  height: 100%;
  width: 100%;
}
.make-me-sticky {
  position: -webkit-sticky;
	position: sticky;
	top: 0;
    
  padding: 0 15px;
}
.sidebar-item {

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
}
.sidenav-title {
	color: white;
	background-color: black;
}

@media (max-width: 600px){
	.article{
		display: grid;
		grid-template-areas:
		"header"
		"content"; !important
	}
	.sidebar-item{
		display: grid;
		grid-area: header; !important
		
	}
	.content-section{
		display: grid;
		grid-area: content; !important
	}
		
}
